.cta{
    background-color: #fcfbfb;
    padding: 40px 0;
    position: relative;
}
.titleContainer
{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.title
{
    max-width: 800px;
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.2;
    color: #333;
}
.bg
{
    position: absolute;
    z-index: 1;
    top: 120px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}
.bg img 
{
    max-width: 100%;
}
.ctasContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.ctaItem
{
    width: 280px;
    height: 230px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #f1f1f1;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.ctaItem:hover
{
    transform: translateY(-8px);
}
.ctaIconContainer
{
    background: #F6F4FD;
    border-radius: 100%;
    width:80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.ctaIconContainer svg
{
    max-width:30px;
    max-height:30px;
    color: #00679a;
    fill: #00679a;
}
.number
{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 6px;
    color:#000;
}
.ctatitle
{
    font-size: 18px;
}

.contactContainer
{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.contactBox
{
    flex:1;
    margin-top: 80px;
    max-width: 800px;
    border: 1px dashed #ebebeb;
    padding: 30px;
    border-radius: 5px;
    position: relative;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}
.contactCaption
{
    flex: 1;
}
.contactCaption h4
{
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 6px;
}
.contactCaption p
{
    margin-top: 0px;
    margin-bottom: 0;
}
.buttonContainer{
    position: relative;
    border:1px solid transparent;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px 20px;
    color:#fff;
    text-align: center;
}
.buttonBg{
    position: absolute; width: 100%; height: 100%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0,103,154);
    background: -moz-linear-gradient(135deg, rgba(0,103,154,1) 0%, rgba(0,47,95,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(0,103,154,1) 0%, rgba(0,47,95,1) 100%);
    background: linear-gradient(135deg, rgba(0,103,154,1) 0%, rgba(0,47,95,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00679a",endColorstr="#002f5f",GradientType=1);
    transition: all ease-in-out .3s;
    z-index: 1;
}
.buttonContainer:hover .buttonBg{
    transform: translate(-50%, -50%) scaleX(0);
}
.buttonContainer a.button{
    position: relative;
    z-index: 2;
    color:#fff;
    transition: all ease-in-out .3s;
}
.buttonContainer:hover{
    border:1px solid #00679A;
}
.buttonContainer:hover a.button{
    color:#00679A;
}
/*
    Responsive
*/

@media (min-width: 600px) {
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {

}

@media (min-width: 1440px) {

}
@media (min-width: 1600px) {

}